<!DOCTYPE html>
<html>
<head>
  <title>ActiveDataFlow</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <header style="background-color: #1f2937; color: white; padding: 20px;">
    <h1 style="margin: 0;">ActiveDataFlow</h1>
  </header>
  
  <main style="padding: 20px;">
    <%= yield %>
  </main>
</body>
</html>
