[submodule "submodules/examples/rails8-newui"]
	path = submodules/examples/rails8-newui
	url = https://github.com/magenticmarketactualskill/rails8-newui.git
[submodule "submodules/examples/rails8-demo"]
	path = submodules/examples/rails8-demo
	url = https://github.com/magenticmarketactualskill/active_data_flow-examples-rails8-demo
[submodule "submodules/examples/rails8-redcord"]
	path = submodules/examples/rails8-redcord
	url = https://github.com/magenticmarketactualskill/active_data_flow-examples-rails8-redcord
[submodule "submodules/examples/rails8-juris"]
	path = submodules/examples/rails8-juris
	url = https://github.com/magenticmarketactualskill/rails8-juris.git
[submodule "submodules/examples/sinatra-json-rpc-demo"]
	path = submodules/examples/sinatra-json-rpc-demo
	url = https://github.com/magenticmarketactualskill/sinatra-json-rpc-demo.git
[submodule "submodules/examples/sinatra-json-rpc-ld"]
	path = submodules/examples/sinatra-json-rpc-ld
	url = https://github.com/magenticmarketactualskill/sinatra-json-rpc-ld.git
[submodule "submodules/examples/rails8-json-rpc-demo"]
	path = submodules/examples/rails8-json-rpc-demo
	url = https://github.com/activedataflow/rails8-json-rpc-demo.git
